.header {
  cursor: none;
  padding: 20px 0;
  height: 80px;

  &__container {
    @include align-center();
  }

  .burger {
    display: none;
  }

  .nav {
    @include align-center();
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    &__close {
      display: none;
    }
    &__list {
      @include align-center();
      justify-content: space-between;
      width: 100%;
      gap: 20px;

    }

    &__item {
      position: relative;
      display: flex;
      @include align-center();
      justify-content: center;
      width: 100%;

      &:not(:last-child) {
        margin-right: auto;
      }

      .nav__link {
        cursor: none;
        padding: 10px 15px;
        width: 100%;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: var(--text-base);
        text-align: center;
      }
    }

    .nav__link.focus-visible {
      background-color: var(--color-ultramarine);
    }
  }

  .router-link-exact-active {
    box-shadow: var(--box-shadow-glow);
  }
}
