.header {
  padding: 20px 0;
  height: 80px;

  &__container {
    @include align-center();
  }

  .burger {
    display: none;
  }

  .nav {
    @include align-center();
    margin-right: auto;
    margin-left: auto;
    width: 100vw;

    &__close {
      display: none;
    }
    &__list {
      @include align-center();
      justify-content: space-between;
      width: 100%;
    }

    &__item {
      position: relative;
      @include align-center();

      &:not(:last-child) {
        margin-right: auto;
      }

      .nav__link {
        padding: 10px 15px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: var(--text-base);
      }
    }

    .nav__link.focus-visible {
      background-color: var(--color-ultramarine);
    }
  }

  .router-link-exact-active {
    // box-shadow: 1px 1px 25px 10px var(--color-ultramarine);
    box-shadow: var(--box-shadow-glow);
  }
}
