/* Parallax Star background
----------------------------------------*/

$positionX: 2000;
// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random($positionX)}px #{random($positionX)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random($positionX)}px #{random($positionX)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.stars {
  position: absolute;
  left: 0;
  animation: animStar 100s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: -2000px;
  }
}

@mixin stars($size, $box-shadow) {
  width: $size;
  height: $size;
  background: transparent;
  box-shadow: $box-shadow;

  &:after {
    width: $size;
    height: $size;
    background: transparent;
    box-shadow: $box-shadow;
  }
}

.stars-small {
  @include stars(1px, $shadows-small);
}

.stars-medium {
  @include stars(2px, $shadows-medium);
}

.stars-big {
  @include stars(3px, $shadows-big);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(2000px);
  }
}

.stars-toggle-btn {
  position: absolute;
  z-index: 100;
  top: 9em;
  right: -25px;
  padding: 0.2rem 0.3rem;
  min-height: 14px;
  font-size: var(--text-xs);
  transform: rotate(-90deg);
}
