html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  // TODO ?
  // cursor: url('@/assets/images/spaceship.svg'), auto;
  // cursor: url('@/assets/images/spaceship.svg') 2 2, default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-weight: 300;
  font-size: var(--text-lg);
  line-height: 1.2;
  background-color: var(--color-light);
  color: var(--color-light);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

a,
button {
  @include gradient-text();
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}


sup {
  top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.site-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.uppercase {
  text-transform: uppercase;
}

.section-offset {
  margin-bottom: 35px;
}

.section-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: var(--text-2xl);
  letter-spacing: 3px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  @include gradient-text();
}

/* BUTTONS
------------------------------------*/
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin btn-active {
  box-shadow: var(--box-shadow-glow);
}

.btn-active {
  @include btn-active();
}

.btn {
  position: relative;
  // z-index: 500;
  border: 1px solid var(--color-ultramarine);
  overflow: hidden;
  padding: 13px 19px;
  // min-height: 50px;
  // min-width: 150px;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f4;

  // &:focus {
  //   outline: none;
  // }

  &.focus-visible {
    box-shadow: 1px 1px 25px 10px var(--color-ultramarine);
  }

  &:hover:before {
    transform: translateX(100%);
  }

  &:active {
    @include btn-active();
  }
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--color-ultramarine),
    transparent
  );
  transition: all 0.3s;
}
/*------------------------------------*/

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.address {
  position: relative;
  display: none;

  &__tel {
    padding-left: 23px;
    font-family: var(--second-family);
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-base);
    line-height: 21px;
    background-repeat: no-repeat;
    background-position: 3px 1px;
    background-size: 17px 17px;
    color: var(--color-yellow-light);
  }
}

/* FORM-FIELDS
------------------------------------*/
.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.form-field {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  padding: 15px 23px;
  resize: none;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 19px;
  background-color: var(--color-grey-dark);
  color: var(--color-grey-light);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:focus {
    outline: 1px solid var(--color-yellow-light);
  }

  &:hover::placeholder {
    color: var(--color-yellow-light);
  }

  &:active::placeholder {
    color: var(--color-light);
  }

  &:active {
    outline: none;
  }
}

input.form-field {
  height: 50px;
}

.field-wrap {
  position: relative;

  .just-validate-error {
    &-label {
      position: absolute;
      top: 3px;
      left: 23px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: var(--text-xs);
      line-height: 11px;
      color: var(--color-red-light) !important;
    }

    &-field {
      outline: 1px solid var(--color-red-light);
    }
  }
}
/*------------------------------------*/

.gradient-text {
  font-family: var(--font-family), sans-serif;
  background: -webkit-linear-gradient(white, var(--color-ultramarine));
  // background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* The typing effect
-----------------------------------*/
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// @keyframes blink-caret {
//   from,
//   to {
//     border-color: transparent;
//   }
//   50% {
//     border-color: var(--color-ultramarine);
//   }
// }
/*-----------------------------------*/

#app {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.svg-container {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon {
  cursor: pointer;
}

.download-link {
  padding: 5px;
  font-weight: 300;
  font-size: var(--text-sm);
  line-height: 1.5;
}

.link {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: var(--text-base);
  transition: color 0.3s ease-in-out;

  &:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-ultramarine);
  }

  @include hover {
    color: var(--color-ultramarine);
    outline: none;
  }

  &:active {
    @include btn-active();
    outline: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-ultramarine);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.link-md {
  padding: 4px;
  font-size: var(--text-md);
}

.icon-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.about__icon {
  cursor: default;
}
